.env
*.pyc
*.zip

venv/
__pycache__/
.pytest_cache/
.ruff_cache/

# Terraform
infra/**/.terraform
infra/**/*.tfstate*
infra/**/terraform.tfvars

# Private. Runbook to start the project and deploy to GCP.  Do not commit this file.
weather-metrics-v2-runbook.md
